QMenu
{
background-color: #183457;
color: #118FEA;
}
QMenu::item
{
padding:4px;
padding-left:20px;
padding-right:30px;
}
QMenu::item:selected
{
background-color: #042439;
border:none;
padding:4px;
padding-left:20px;
padding-right:30px;
}
